/* 
Reference Colors:
    #2b3a42 - Page Background
    #3f5765 - Container Background / #263033 - Disabled
    #bdd4de - Button Background
    #efefef - Text
    #ff530d - Selected Item
*/

body {
    user-select: none;
    cursor: default;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #2b3a42;
    color: #efefef;
}

a {
    text-decoration-line: none;
    color: inherit;
    font-weight: bold;
}

#title {
    margin: 10px;
    font-size: large;
    font-weight: bold;
}

#disclaimer {
    font-size: small;
    background-color: #3f5765;
    text-align: justify;
    margin: 10px;
    padding: 10px;
}

#disclaimer > div {
    text-align: right;
    color: #bdd4de;
    font-style: italic;
}

#message {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-style: italic;
}

.messageAnimation {
    animation: messageAnimation 0.15s ease-in-out 6 alternate;
}

.messageFadeOut {
    animation: messageFadeOut 1s forwards;
}


@keyframes messageAnimation {
    0% {
        opacity: 0;
    }
    20% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
        opacity: 1.0;
    }
    50% {
        font-weight: bolder;
    }
    60%, 80% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
    100% {
        text-shadow: 0;
    }
}

@keyframes messageFadeOut {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0;
    }
}

.resource {
    display:flex;
    flex-flow: column;
    justify-content: flex-end;
    margin-right: 10px;
    width: 48px;
    height: 48px;
    overflow: hidden;
    background-color: #5F8499;
    background-image: url("images/electricity.png");
    background-repeat: no-repeat;
    background-position: center;
}

.resource:hover {
    background-color: #ff530d;
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, inset 0 0 30px #fff;
}

.resource:active {
    animation: resourceClick 400ms;
}

@keyframes resourceClick{
    from {
        background-color: #fff;
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff530d, 0 0 70px #ff530d, 0 0 80px #ff530d, 0 0 100px #ff530d, 0 0 150px #ff530d;
    }
    to {
        background-color: #fff;
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff530d, 0 0 35px #ff530d, 0 0 40px #ff530d, 0 0 50px #ff530d, 0 0 75px #ff530d;
    }
}

/*.resource > .cost {
    justify-content: center;
    display: none;
    margin-top: 3px;

}*/

.resource > .footer {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 2px;
}

.resource > .footer > .notCraftable {
    padding-left: 4px;
    display: none;

}

.resource:hover[data-not-handcraftable="true"] > .footer > .notCraftable {
    display: block;
}


.resource > .footer > .quantity {
    text-align: right;
    font-size: x-small;
    padding-right: 4px;
}

.resource > .name {
    visibility: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: x-small;
    word-break: keep-all;
    text-align: center;
    flex-grow: 1;
    padding: 0 1px 0 1px;
    text-shadow: 
        0px 0px 15px #ff530d,
        0px 0px 15px #ff530d,
        0px 0px 15px #ff530d,
        0px 0px 15px #ff530d,
        0px 0px 15px #ff530d,
        0px 0px 15px #ff530d,
        0px 0px 15px #ff530d,
        0px 0px 15px #ff530d,
        0px 0px 15px #ff530d,
        0px 0px 15px #ff530d;
}

.resource:hover > .name {
    visibility: visible;

}

/*.resourceCostItem {
    display: grid;
    grid-template-areas:
        "image quantity";
    margin-right: 5px;
}


.resourceCostItem > .image {
    grid-area: image;
    height: 15px;
    margin-right: 2px;
}

.resourceCostItem > .quantity {
    grid-area: quantity;
    font-size: 11px;
}*/


#itemBar {
    margin: 10px;
}

#itemBarTabs {
    display: flex;
}

.tabName {
    background-color: #263033;
    font-size: small;
    margin-right: 10px;
    padding: 10px;
}

.blink {
    animation: blink 0.2s;
    animation-iteration-count: 3;
}

@keyframes blink {
    50% { opacity: 0; }
}


.tabName[data-selected="true"] {
    background-color: #3f5765;
}

.tabName[data-selected="false"]:hover {
    background-color: #3f5765;
    box-shadow: inset 0 -5px 40px #263033;
}

.tabContent {
    display: flex;
    flex-wrap: wrap;
    background-color: #3f5765;
    padding: 10px 10px 0 10px;
}

.tabContent > .resource {
    margin-bottom: 10px;
}

#machines {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.machine {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 0 10px;
    background-color: #3f5765;
}

.machine > .display {
    margin-bottom: 10px;
}

.machine > .productionLines > .productionLine {
    border-top: 1px solid grey;
    padding-top: 10px;
}

.machine .productionLines .productionLine > .process {
    display: flex;
    margin-bottom: 10px;
}

.machine .productionLines .productionLine > .process > .consume,
.machine .productionLines .productionLine > .process > .produce {
    display: flex;
}


.machine .productionLines .productionLine > .process > .arrow {
    height: 48px;
    margin-right: 10px;
}

.machine > .productionLines > .productionLine > .work {
    display: flex;
    margin-bottom: 10px;
}

.machine > .productionLines > .productionLine > .work > * {
    vertical-align: middle;
}

.machine > .productionLines > .productionLine > .work > .produceTime {
    display: none;
    font-size: x-small;
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
}

.machine > .productionLines > .productionLine:hover > .work > .produceTime {
    display: block;
}

.machine > .productionLines > .productionLine > .work > .produceTime > * {
    vertical-align: middle;
}


.machine > .productionLines > .productionLine > .work > .progress {
    height: 4px;
    border: 0;
    flex-grow: 1;
}

.machine > .productionLines > .productionLine:hover > .work > .progress {
    height: auto;
}

.machine > .productionLines > .productionLine > .quantitySpinner {
    display: none;
    justify-content: space-between;
    padding-bottom: 10px;
}

.machine > .productionLines > .productionLine:hover > .quantitySpinner {
    display: flex;
}

.machine > .productionLines > .productionLine > .quantitySpinner > .button {
    text-align: center;
    background-color: #5F8499;
    margin-right: 4px;
    padding: 4px;
    font-size: x-small;
    flex-grow: 1;
}

.machine > .productionLines > .productionLine > .quantitySpinner > .button:hover {
    background-color: #ff530d;
}

.machine > .productionLines > .productionLine > .quantitySpinner > .quantity {
    font-size: x-small;
    text-align: right;
    background-color: #7BACC7;
    margin-right: 4px;
    padding: 4px;
    flex-grow: 2;
}
        