        body {
            user-select: none;
            cursor: default;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }

        #buttons {
            display: flex;
            flex-wrap: wrap;
        }

        .item {
            width: 70px;
            /*height: 100px;*/
            border: 1px outset;
            margin: 5px;
            padding: 5px;
            background-color: rgb(240, 217, 143);
        }

        .itemContent {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-align: center;

            width: 100%;
        }

        .name {
            font-size: x-small;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .imageContainer {
            height: 40px;
        }

        .cost {
            color: blue;
            font-size: xx-small;
            padding-top: 5px;
        }

        .consume {
            color: red;
            font-size: xx-small;
            padding-bottom: 5px;
        }

        .produce {
            color: green;
            font-size: xx-small;
            padding-bottom: 5px;
        }

        .time {
            font-size: xx-small;
        }

        .time>span {
            height: 10px;
            vertical-align: middle;
        }

        .time>img {
            margin-right: 5px;
            vertical-align: middle;
        }

        .progress {
            width: 100%;
            height: 10px;
            border: 0;
        }

        .machine {
            border: 1px inset;
            padding: 5px;
            display: flex;
            flex-direction: column;
        }

        .machine .head {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .machine .quantityBox {
            text-align: center;
            width: 50%;
        }

        .head .quantityBox {
            font-size: small;
        }

        .machine .name {
            font-size: xx-small;
        }

        .machine .progress {
            margin-top: 2px;
        }

        .machine .sell {
            font-size: 0.7em;
            border: 1px solid black;
            color: red;
            margin-top: 2px;
        }


        .quantity {}