body {
    user-select: none;
    cursor: default;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(247, 239, 225);
}

#itemBarTabs {
    position: relative;
    display: flex;
    z-index: 1;
}

.tabName {
    background-color: rgb(255, 236, 179);
    font-size: small;
    margin-right: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 1px 1px 1px 0px rgba(74,65,33,0.63);
}

.tabName[data-animate="true"] {
    animation: tabBlink 0.2s;
    animation-iteration-count: 5;
}

@keyframes tabBlink {
    50% { opacity: 0; }
}


.tabName[data-selected="true"] {
    background-color: #f7bb60;
    font-weight: bold;
}

.tabContent {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    margin: 0 5px 10px 0;
    padding: 5px 5px 0 10px;
    background-color: #f7bb60;
    min-width: 90%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 1px 1px 1px 0px rgba(74,65,33,0.63);
}

.resource {
    display: grid;
    grid-template-areas: 
        "image quantity"
        "name name";
    margin-right: 30px;
    margin-bottom: 5px;
    padding: 5px;
}

/*.resource:hover > .name {
    display: block;
}*/

.resource > .image {
    grid-area: image;
    margin-right: 5px;
}

.resource > .quantity {
    grid-area: quantity;
    margin-top: auto;
    margin-bottom: auto;
}

.resource > .name {
    grid-area: name;
    /*display: none;*/
    margin-top: 5px;
    font-size: x-small;
    word-break: break-all;
    text-align: center;
}

#machines {
    display: flex;
}

.machine {
    width: fit-content;
    margin: 0 10px 10px 0;
    padding: 5px 5px  10px;
    background-color: #f7bb60;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0px rgba(74,65,33,0.63);
}

.machine > .display > * {
    width: fit-content;
}

/*.machine > * {
    border: 1px solid red;
}*/

.machine > .display > .image {
    margin-left: 5px;
}

.machine > .productionLines > .productionLine {
    border-top: 1px solid grey;
    margin-top: 10px;
    padding-top: 10px;
}

.machine .productionLines .productionLine > .process {
    display: flex;
}

.machine > .productionLines > .productionLine > .process > .arrow {
    padding: 0 10px 0 10px;
}

.machine > .productionLines > .productionLine > .process > .consume, 
.machine > .productionLines > .productionLine > .process > .produce {
    display: flex;
    font-size: xx-small;
    margin: 0 10px 0 10px;
}

.machine > .productionLines > .productionLine > .process > .consume > *, 
.machine > .productionLines > .productionLine > .process > .produce > * {
    text-align: center;
    margin-right: 10px;
}

.machine > .productionLines > .productionLine > .work {
    display: flex;
    margin-top: 5px;
}

.machine > .productionLines > .productionLine > .work > * {
    vertical-align: middle;
}

.machine > .productionLines > .productionLine > .work > .produceTime {
    font-size: xx-small;
    vertical-align: middle;
    text-align: center;
    margin-right: 5px;
}

.machine > .productionLines > .productionLine > .work > .produceTime > * {
    vertical-align: middle;
}


.machine > .productionLines > .productionLine > .work > .progress {
    border: 0;
    flex-grow: 1;
}

.machine > .productionLines > .productionLine > .quantitySpinner {
    grid-area: spinner;
    display: flex;
    font-size: xx-small;
    vertical-align: center;
    justify-content: center;
    margin-top: 5px;
    height: 10px;

}

.machine > .productionLines > .productionLine > .quantitySpinner > .left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.machine > .productionLines > .productionLine > .quantitySpinner > .right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.machine > .productionLines > .productionLine > .quantitySpinner > .button {
    flex-grow: 1;
    border: 1px solid white;
    border-right-color: tan;
    border-bottom-color: tan;
    vertical-align: center;
    margin: auto;
    padding: 0 4px 0 4px;
    text-align: center;
    

    min-width: 15px;
    background-color: rgb(253, 222, 196);
}

.machine > .productionLines > .productionLine > .quantitySpinner > .button:hover {
    background-color: rgb(255, 198, 151);
}

.machine > .productionLines > .productionLine > .quantitySpinner > .button:active {
    border: 1px solid tan;
    border-right-color: white;
    border-bottom-color: white;
    background-color: rgb(255, 240, 227);
}

.machine > .productionLines > .productionLine > .quantitySpinner > .quantity {
    border: 0;
    font-size: 10px;
    background-color: rgb(252, 246, 230);
    min-width: 2em;
    text-align: right;
    padding-right: 4px;
    height: 13px;

}
        